<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Productos"}) %>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %> 

    <!-- GALERIA DE PRODUCTOS -->
    <main class="galeria-de-productos">
        <h2>Nuestras bicicletas</h2> 
        <section>
        <% for(let i = 0; i < productos.length; i ++) { %>
            <article>
                <img src="/images/products/<%= productos[i].foto %>.jpg" alt="<%= productos[i].modelo %>">
                <h3><%= productos[i].modelo %></h3>
                <div>
                    <a href="/products/detalleDeProducto" class="btn-buy">Comprar</a><a href="/products/detalleDeProducto" class="btn-view-more">Ver Más</a>
                </div>
                
            </article>    
        <% } %>  
        </section>     
    </main>    
    
    <!-- FOOTER -->        
    <%- include('partials/footer') %>
</body>
</html>